{{#partial "content"}}
<div class="row p-3">
    <section class="col-3 bg-light pb-3">
        <h5 class="display-5 text-hero">Squads</h5>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              The current link item
            </a>
            {{#each mySquads}}
            <a href="/home/{{id}}" class="list-group-item list-group-item-action">{{name}}</a>
            {{/each}}
        </div>
    </section>
    <section class="col-9">
        {{#if name}}
            <h5 class="display-6 text-muted">{{name}} squad</h5>
            <h6 class="text-muted">Cause</h6>
            <p class="text-muted">{{cause}}</p>
            {{#if members}}
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Age</td>
                        <td>Powers</td>
                        <td>Weakness</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each members}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{age}}</td>
                            <td>{{powers}}</td>
                            <td>{{weakness}}</td>
                        </tr>
                    {{/each}}
                </tbody>
              </table>
            {{/if}}
    </section>  
    {{/if}}
</div>
{{/partial}}
{{> layout.hbs}}